*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightseagreen;
    font-size: 18px;
}
h1{
    text-align: center;
    line-height: 50px;
    margin-bottom:10px;
    text-decoration: underline;    
}
.con{
    background-color: antiquewhite;
    /* margin: 20px; */
    border: 5px solid black;
}
.op{
    color:white;
    background-color: black;
    line-height: 30px;
    margin: 20px 0;
}